<!DOCTYPE html>
<html lang="en">

<head>
  <title>Zane's Page</title>

  <link rel="icon" type="image/x-icon" href="/img/Mii.png" </link>
  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/decoration.css">
  <link rel="stylesheet" href="style/tokipona.css">

  <script src="https://unpkg.com/htmx.org@1.9.6"></script>

  <!--Makes mobile format properly-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div hx-get="components/header.html" hx-trigger="load" hx-swap="outerHTML"></div>

  <div id="content" hx-get="components/blog.html" hx-target="#content" hx-trigger="load" hx-swap="innerHTML"></div>

  <div hx-get="components/footer.html" hx-trigger="load" hx-swap="outerHTML"></div>
</body>

</html>
